<app-header></app-header>
<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-10 text-center">
              <label class="fs-4">Eventos</label>
            </div>
            <div class="col-2 text-center" *ngIf="usuarioAdmin == true"> 
              <button type="button" class="my-1 btn btn-outline-warning btn-circle" (click)="irCrearEvento()" *ngIf="usuarioAdmin == true"><i
                  class="bi bi-plus-lg"></i></button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="input-group my-2">
            <input #busqueda type="search" class="form-control" placeholder="Buscar eventos" aria-label="Search"
              (keyup)="buscarEvento(busqueda.value)">
          </div>

          <table class="table table-hover mb-0" aria-describedby="colecName">
            <tbody>
              <tr *ngFor="let evento of mostrarEventos; index as i" (click)="onSelect(evento, i)"
                [ngClass]="{'selected': i === indiceSeleccionado}">
                <td>{{evento.nombre}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="col-8">
      <app-evento-detail [evento]="eventoSeleccionada"></app-evento-detail>
    </div>
  </div>
</div>
