<app-header></app-header>
<div class="container my-4">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-sm-4 text-start">
                <label class="fs-4">Dinero actual:</label>
                <label class="fs-4">${{usuario?.dinero}}</label>
            </div>
            <div class="row text-start">
                <form class="mx-5 my-4" [formGroup]="dineroForm">
                    <div class="col-sm">
                        <input type="number" class="form-control" formControlName="dinero">
                    </div>
                    <div class="col-sm my-3">
                        <button type="button" class="btn btn-outline-success ms-3 me-2" (click)="agregarDinero(dineroForm.value)"> Agregar dinero</button>         
                        <button type="button" class="btn btn-outline-success ms-3 me-2" (click)="retirarDinero(dineroForm.value)"> Retirar dinero</button>         
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>